<div fxFlex="98">
  <form [formGroup]="form" novalidate fxLayout='column'>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="90" fxFlex.gt-sm="50">
        <div fxLayout="column" fxLayoutAlign="start stretch" class="form-layout mat-elevation-z12">

          <!-- field beginning -->
          <!-- name -->
          <mat-form-field style="margin:8px">
            <input matInput formControlName='name'>
            <mat-placeholder>Name</mat-placeholder>
          </mat-form-field>
          <!-- address -->
          <mat-form-field style="margin:8px">
            <input matInput formControlName='address'>
            <mat-placeholder>Address</mat-placeholder>
          </mat-form-field>

          <!-- city -->
          <mat-form-field style="margin:8px">
            <input matInput formControlName='city'>
            <mat-placeholder>City</mat-placeholder>
          </mat-form-field>

          <div fxFlex>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between stretch">
              <div fxFlex fxFlex.gt-sm="60">
                <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
                  <!-- state -->
                  <mat-form-field style="margin:8px">
                    <input matInput formControlName='state'>
                    <mat-placeholder>State</mat-placeholder>
                  </mat-form-field>
                </div>
              </div>

              <div fxFlex fxFlex.gt-sm="30">
                <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
                  <!-- zip -->
                  <mat-form-field style="margin:8px">
                    <input matInput formControlName='zip'>
                    <mat-placeholder>Zip</mat-placeholder>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div fxFlex>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between stretch">
              <div fxFlex fxFlex.gt-sm="60">
                <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
                  <!-- email -->
                  <mat-form-field style="margin:8px">
                    <input matInput formControlName='email'>
                    <mat-placeholder>Email</mat-placeholder>
                  </mat-form-field>
                </div>
              </div>

              <div fxFlex fxFlex.gt-sm="30">
                <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
                  <!-- phone -->
                  <mat-form-field style="margin:8px">
                    <input matInput formControlName='phone'>
                    <mat-placeholder>Phone</mat-placeholder>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div fxFlex>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between stretch">
              <div fxFlex fxFlex.gt-sm="30">
                <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
                  <!-- number attending -->
                  <mat-form-field style="margin:12px">
                    <input type='number' matInput formControlName='numberAttending'>
                    <mat-placeholder>Number Attending</mat-placeholder>
                  </mat-form-field>
                </div>
              </div>

              <div fxFlex fxFlex.gt-sm="60">
                <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
                  <!-- number children -->
                  <mat-form-field style="margin:12px">
                    <input type='number' matInput formControlName='numberOfChildrenAttending'>
                    <mat-placeholder>Number of Children Attending (4-9)</mat-placeholder>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <!-- button -->
          <div fxFlex="100" fxFlex.gt-sm="50">
            <div fxLayoutAlign="center stretch" class="button-align">
              <button mat-raised-button (click)='register()' [disabled]='form.invalid'>
                <h1 class="reg-btn-txt">Register</h1>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>